# Copy this file into /lib/udev/rules.d/
# get `idVendor` and `idProduct` values by running `udevadm info --name=/dev/ttyACM<number> --attribute-walk`, where <number> is the ACM number currently being used
# reload with `sudo udevadm --control --reload` and `sudo udevadm trigger` and confirm board is available at `/dev/<SYMLINK>`
# arduino-cli currently restricts what ports we can use, so we need to remap to a ttyACM<n> that is not likely to be used by another port
SUBSYSTEMS=="usb", KERNEL=="ttyACM[0-9]*", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="804e", SYMLINK+="ttyACM99", TAG+="systemd", GROUP="dialout", MODE:="0666"
